/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.container {
  width: 880px;
  margin: auto;
}

/* Header Styles */

header {
  width: 100%;
  display: flex;
  margin-left: 0.8%;
}

header nav {
  margin-top: 4.5%;
  width: 610px;
  font-size: 1.6rem;
  justify-content: space-between;
  display: flex;
}

header nav a {
  text-decoration: none;
  color: #b0b0b0;
}

header nav a:hover {
  text-decoration: underline;
  color: black;
}

header .logo {
  align-self: flex-end;
  margin: 28px 0 0 91px;
}

/* Call To Action (CTA) Styles */

.cta {
  display: flex;
  margin-top: 8.3%;
  justify-content: flex-end;
}

.cta .cta-text {
  font-size: 7.2rem;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin-right: 8.5%;
}

.cta .cta-text button {
  border: 1px double black;
  font-size: 1.7rem;
  background: white;
  width: 58.8%;
  height: 8.4%;
  margin-top: 5%;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

/* Main Content Styles */

.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 8.4% 0 1.1% 0.6%;
  padding: 4% 0 4% 0;
  font-size: 1.6rem;
  line-height: 115%;
  display: flex;
  flex-direction: column;
}

.main-content .top-content {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: row;
}

.main-content .top-content h4 {
  margin-bottom: 3.8%;
}

.main-content .middle-img {
  display: block;
  margin: 2.9% 0 3.7% 0;
}

.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
.main-content .bottom-content p {
  margin-top: 6.4%;
}

/* Contact Styles */
.contact {
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  margin-top: 3.7%;
}

.contact p {
  margin: 0.8% 0 0 0.5%;
}

/* Footer Styles */

footer {
  text-align: center;
  margin: 4.9% 0 0 0.6%;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }

  header {
    /* border: 2px solid blue; */
    flex-direction: column;
  }

  header nav {
    margin-top: 4.8%;
    width: 100%;
    justify-content: evenly;
  }

  header .logo {
    order: -1;
    align-self: center;
    margin-right: 11.2%;
  }

  .cta {
    display: flex;
    justify-content: center;
    padding-bottom: 0.9%;
  }
  .cta .cta-text {
    margin: 0;
  }

  .cta img {
    display: none;
  }

  .main-content {
    margin: 9.8% 2.6% 4.5% 2.6%;
    display: flex; /* remove later */
    flex-direction: column; /* remove later*/
    border: 2px solid red;
  }

  .main-content .top-content {
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
  }

  .top-content .text-content {
    padding: 0px 1.3%;
    border: 2px solid purple;
    width: 40%;
  }

  .main-content .middle-img {
    /* width: 730px;
        height: 170px; */
    width: 100%;
    padding: 0px;
    margin: 5.2% auto 2.5%;
  }

  .bottom-content .text-content {
    margin-top: 0.6%;
    padding: 0 1.5%;
  }
  .contact {
    margin: 5.2% 0 0 4%;
  }
}

@media (max-width: 400px) {
  .container {
    width: 100%;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid red; */
  }
  header nav {
    /* border: 2px solid blue; */
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  header nav a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 5%;
    font-size: 20px;
    border-bottom: 1px solid gray;
  }

  header nav a:first-child {
    border-top: 1px solid gray;
  }

  header nav a:hover {
    background: gray;
  }

  header .logo {
    margin: 3%;
  }

  .cta {
    margin: 11% 0 0 0;
    padding: 0;
  }

  .cta .cta-text {
    flex-flow: column;
    align-items: center;
    margin-top: 12px;
    margin-left: 4px;
  }

  .cta img {
    padding-left: 10px;
    margin-bottom: 13px;
  }

  .main-content {
    margin-top: 80px;
    padding-bottom: 38px;
  }

  .main-content .top-content {
    justify-content: space-around;
    flex-direction: column;
    height: 300px;
    margin-bottom: 10px;
    padding: 0;
  }
  .main-content .bottom-content {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5.2%;
    flex-wrap: wrap;
    height: 440px;
    padding: 0px;
  }

  .main-content .bottom-content p {
    margin-top: 13px;
  }

  .bottom-content .text-content {
    margin: 0;
    padding: 1.3%;
  }

  .contact {
    padding-top: 15px;
  }
}
